.headerclass {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    height: 70px
}

.index-body  {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    height:100%;
    background-position: center;
    background-size: cover;
    position:relative;
}

header {
    font-family: 'Montez', cursive;
    font-size: larger;
    color: blue
}

html, body {min-height: 100%;}

h6 {
    font-family: 'Ubuntu Mono', monospace;
    margin: 0;
}

#sign-in-button, #sign-up-button {
    background-color: blue;
    length: 80px;
    height: 35px;
    color: white;
}

#sign-up-modal {
    display: none; /* Hidden by default */
    position: absolute;
    padding-top: 20px;
    left: 0;
    top: 20%;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-left: 40%;
    z-index: 1;

}


/* Modal Content */
#sign-up-modal-content {
    border: 0.5px;
    border-style: solid;
    width: 25%;
    padding: 10px;
    text-align: center;
    height: 400px;
    background-color: #fefefe;

    box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);


}



.sign-up-close, .sign-in-close {
    cursor: pointer;
    float: right;
    font-weight: bold;

}

/* The Close Button */
#signupform {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
}

h4 {
    border-bottom: 1px solid black;
    text-align: left;
    font-weight: normal;
}

input {

    background-color: LightGray;
    height: 36px;
    border: 0;
}

#sign-up {
    width: 349px;
    height: 36px;
    background-color: #4CAF50;
    color: white;
}

#signinform {
    display: flex;
    flex-direction: column;
}

#sign-in {
    width: 349px;
    height: 36px;
    background-color: #4CAF50;
    color: white;
}

#sign-in-modal-content {
    border: 0.5px ;
    width: 25%;
    padding: 10px;
    text-align: center;
    height: 300px;
    background-color: #fefefe;

    box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);

}

#sign-in-modal {
    display: none; /* Hidden by default */
    z-index: 1;
    position: absolute;
    padding-top: 20px;
    left: 0;
    top: 20%;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-left: 40%;

}

#posts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20%;
}

button{
    background-color: orange;
    width: 100px;
    height: 35px;
    color: white;
    padding: 10px;
    margin:5px;
}

#create-post-modal{
    display: none;
    z-index: 1;
    top: 37%;
    width: 60%;
    position: absolute;
    box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
    left: 19%;
}

#create-post-modal-content{
    border: 0.5px;
    width: 100%;
    padding: 30px;
    text-align: left;
    background-color: #fefefe;
    position: absolute;
    margin: 0.2px;
}

.create-post-close{
float:right;
}

textarea{
background-color: LightGray;
}

#createPostForm{
display: flex;
flex-direction: column;
justify-content: space-evenly;
}